*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $primary-word-color;
    font-family: 'Noto Sans HK', sans-serif;
}

main{
    background-color: $bgc-main;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

// bottoni principali
@mixin big-buttom {
    font-size: 14px;
    background-color: $big-btn-color;
    color: #fff;
    border-radius: 7px;
    padding: 6px 12px;
    border: 1px solid $big-btn-color;
}