*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $primary-word-color;
    font-family: 'Noto Sans HK', sans-serif;
}

.container{
    width: 80%;
    max-width: 1250px;
    margin: 0 auto;
}

.container-2{
    max-width: 1600px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

// bottoni principali
@mixin big-buttom {
    font-size: 14px;
    background-color: $big-btn-color;
    color: #fff;
    border-radius: 7px;
    padding: 6px 12px;
    border: 1px solid $big-btn-color;
    img {
        width: 18px;
        margin-right: 5px;
    }
}

@mixin section-block {
    .section-block{
        margin: 100px 0;
        .block-img{
            width: 50%;
            margin-right: 40px;
            img{
                max-width: 770px;
            }
        }
        .block-text,
        .block-text-left{
            width: 50%;
            h2{
                width: 410px;
                margin-bottom: 25px;
            }
            p{
                width: 410px;
                font-size: 20px;
                margin-bottom: 40px;
            }
            a{
                color: $big-btn-color;
                display: block;
            }

            img{
                margin: 40px;
                max-width: 270px;
            }
        }
        .block-text-left{
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
        }
        a{
            justify-content: flex-start;
            align-items: center;
        }
    }
}

@mixin list-footer {
    .list-footer{
        margin: 0 20px;
        li{
            width: 115px;
            margin: 5px 0;
            font-size: 12px;
            line-height: 33px;
            &:first-child{
                font-size: 16px;
                font-weight: 600;
                padding-bottom: 5px;
                margin-top: 0;
            }
            &:hover{
                color:$hover-nav-color;
            }
        }
    }
}