*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: $primary-word-color;
    font-family: 'Noto Sans HK', sans-serif;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

.d-flex{
    display: flex;
}

li{
    list-style: none;
}