/*************************************************
                    NAVBAR
 *************************************************/
 #navbar {
    height: 70px;

    .container{
        border-bottom: 1px solid rgba(128, 128, 128, 0.5);

    }

    .d-flex {
        justify-content: space-between;
        align-items: center;
    }

    .list-nav {
        li {
            margin: 0 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: $primary-word-color;
            font-weight: bold;
            font-size: 14px;
            transition: color 0.3s;

            &:hover {
                color: $hover-nav-color;
            }
        }

        .btn-sign {
            border: 1px solid $big-btn-color;
            border-radius: 7px;
            transition: background-color 0.4s;

            a {
                color: $big-btn-color;
                display: flex;
                align-items: center;
                padding: 8px 12px;

                &:hover {
                    color: #fff;
                }

                img {
                    width: 18px;
                    margin: 0 5px;
                }
            }

            &:hover {
                background-color: $hover-nav-color;
            }
        }
    }
}