/*************************************************
                    Variables
 *************************************************/

 $primary-word-color: #58402C;
 $big-btn-color: #30488F;
 $hover-nav-color: #30488F;
 $bgc-main: #FFE7D2