/*************************************************
                    Variables
 *************************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #58402C;
  font-family: "Noto Sans HK", sans-serif;
}

main {
  background-color: #FFE7D2;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*************************************************
                    NAVBAR
 *************************************************/

header {
  height: 100vh;
}

#navbar {
  height: 70px;
}

#navbar .d-flex {
  justify-content: space-between;
  align-items: center;
}

#navbar .list-nav li {
  margin: 0 20px;
}

#navbar .list-nav li:last-child {
  margin-right: 0;
}

#navbar .list-nav a {
  color: #58402C;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s;
}

#navbar .list-nav a:hover {
  color: #30488F;
}

#navbar .list-nav .btn-sign {
  border: 1px solid #30488F;
  border-radius: 7px;
  transition: background-color 0.4s;
}

#navbar .list-nav .btn-sign a {
  color: #30488F;
  display: flex;
  align-items: center;
  padding: 8px 12px;
}

#navbar .list-nav .btn-sign a:hover {
  color: #fff;
}

#navbar .list-nav .btn-sign a img {
  width: 18px;
  margin: 0 5px;
}

#navbar .list-nav .btn-sign:hover {
  background-color: #30488F;
}

/*************************************************
                    JUMBOTRON
 *************************************************/

#jumbotron {
  margin: 100px 0;
}

#jumbotron .d-flex {
  justify-content: space-between;
  align-items: center;
}

#jumbotron .jumbo-text {
  width: 50%;
}

#jumbotron .jumbo-text h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

#jumbotron .jumbo-text .sub-title {
  margin-bottom: 40px;
  width: 80%;
  font-size: 22px;
}

#jumbotron .jumbo-text .btn-jumbotron {
  font-size: 14px;
  background-color: #30488F;
  color: #fff;
  border-radius: 7px;
  padding: 6px 12px;
  border: 1px solid #30488F;
}

#jumbotron .jumbo-text .btn-jumbotron img {
  width: 18px;
  margin-right: 5px;
}

#jumbotron .jumbo-text p {
  font-size: 14px;
  margin-top: 20px;
}

#jumbotron .jumbo-text span {
  color: #bdb5af;
  font-size: 12px;
  margin: 0 8px;
}

#jumbotron .jumbo-img {
  width: 50%;
}

#jumbotron .jumbo-img img {
  width: 100%;
}

main {
  height: 100px;
}


